/* logo 字型 */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

header .logo span {
  padding: 5px;
  font-family: cursive;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#f1f2f2, #f1f2f2);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

header .logo {
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 3px;
}
header .logo:hover {
  font-weight: 700;
}
header .logo span {
  font-family: "Permanent Marker", cursive;
}
header .navbar-light .navbar-nav .nav-link {
  color: #333;
  font-weight: 600;
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
  font-weight: 700;
}
header .dropdown-item {
  color: #000;
  font-weight: 400;
}
header a:hover {
  font-weight: 500;
}
header .dropdown-item:active {
  background-color: #637081;
}
header .btn-outline-dark {
  color: #5c6f83;
  border-color: #637081;
}
header .btn-outline-dark:hover {
  color: #fff;
  background-color: #637081;
  border-color: #637081;
}

header i {
  font-size: 25px;
}
header .nav-item {
  padding: 0 5px;
  letter-spacing: 1px;
}
